Repository mobilecoinfoundation/cookiecutters, pull requests merged in 2023-02, with the labels that each got.

#13 Update for recent changes to other repos
  .github/CODEOWNERS
  .github/auto_assign.yaml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/pull_request_template.md
  .github/triage-labeler.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/CODEOWNERS
  rust/repo/{{ cookiecutter.repo_name }}/.github/dependabot.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/cargo-audit.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
  rust/repo/{{ cookiecutter.repo_name }}/deny.toml
Labels: size/L, github_actions

#15 Add repo settings.
  .github/CODEOWNERS
  .github/settings.yml
Labels: size/M

#16 Update settings.yml (for testing)
  .github/settings.yml
Labels: size/XS

#18 Add yamllint
  .github/auto_assign.yaml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/settings.yml
  .github/triage-labeler.yaml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
  rust/repo/tests/basic/output/repository/.github/auto_assign.yaml
  rust/repo/tests/basic/output/repository/.github/dependabot.yaml
  rust/repo/tests/basic/output/repository/.github/labeler.yaml
  rust/repo/tests/basic/output/repository/.github/triage-labeler.yaml
  rust/repo/tests/basic/output/repository/.github/workflows/ci.yaml
  rust/repo/tests/basic/output/repository/.github/workflows/copyright.yaml
  rust/repo/tests/basic/output/repository/.github/workflows/issues.yaml
  rust/repo/tests/basic/output/repository/.github/workflows/pr-assign.yaml
  rust/repo/tests/basic/output/repository/.github/workflows/pr.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/auto_assign.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/dependabot.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/labeler.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/triage-labeler.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/copyright.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/issues.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/pr-assign.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/pr.yaml
Labels: size/L, github_actions

#26 Import json in extensions.
  rust/repo/cookiecutter.json
  rust/repo/local_extensions.py
  rust/workspace-crate/cookiecutter.json
  rust/workspace-crate/local_extensions.py
Labels: size/M

#32 Exclude dtolnay/rust-toolchain from dependabot
  .github/dependabot.yaml
  rust/repo/tests/basic-agpl3/output/repository/.github/dependabot.yaml
  rust/repo/tests/basic-gpl3/output/repository/.github/dependabot.yaml
  rust/repo/tests/basic-x86_64/output/repository/.github/dependabot.yaml
  rust/repo/tests/basic/output/repository/.github/dependabot.yaml
  rust/repo/tests/crate/output/repository/.github/dependabot.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/dependabot.yaml
Labels: size/M

#27 Add poetry venv files
  .github/dependabot.yaml
  poetry.lock
  pyproject.toml
Labels: size/L

#28 Convert base test to pytest
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
  rust/repo/tests/basic/cookiecutter.yaml
  tests/__init__.py
  tests/conftest.py
  tests/rust/__init__.py
  tests/rust/repo/expected/default/repository/.github/CODEOWNERS
  tests/rust/repo/expected/default/repository/.github/auto_assign.yaml
  tests/rust/repo/expected/default/repository/.github/dependabot.yaml
  tests/rust/repo/expected/default/repository/.github/labeler.yaml
  tests/rust/repo/expected/default/repository/.github/pull_request_template.md
  tests/rust/repo/expected/default/repository/.github/triage-labeler.yaml
  tests/rust/repo/expected/default/repository/.github/workflows/ci.yaml
  tests/rust/repo/expected/default/repository/.github/workflows/copyright.yaml
  tests/rust/repo/expected/default/repository/.github/workflows/issues.yaml
  tests/rust/repo/expected/default/repository/.github/workflows/pr-assign.yaml
  tests/rust/repo/expected/default/repository/.github/workflows/pr.yaml
  tests/rust/repo/expected/default/repository/.gitignore
  tests/rust/repo/expected/default/repository/.markdownlint-cli2.jsonc
  tests/rust/repo/expected/default/repository/CHANGELOG.md
  tests/rust/repo/expected/default/repository/CODE_OF_CONDUCT.md
  tests/rust/repo/expected/default/repository/Cargo.toml
  tests/rust/repo/expected/default/repository/LICENSE
  tests/rust/repo/expected/default/repository/README.md
  tests/rust/repo/expected/default/repository/crate/name/Cargo.toml
  tests/rust/repo/expected/default/repository/crate/name/README.md
  tests/rust/repo/expected/default/repository/crate/name/src/lib.rs
  tests/rust/repo/expected/default/repository/deny.toml
  tests/rust/repo/expected/default/repository/rust-toolchain.toml
  tests/rust/repo/expected/default/repository/rustfmt.toml
  tests/rust/test_repo.py
Labels: size/L, github_actions, rust
