Repository mobilecoinfoundation/cookiecutters, pull requests merged in 2023-04, with the labels that each got.

#71 Add samdealy as owner, disable wiki.
  .github/CODEOWNERS
  .github/settings.yml
  .github/workflows/pr-assign.yaml
Labels: github_actions, size/S

#72 Fixup labeler and finish outstanding PRs.
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  rust/repo/examples/default/output/repository/.github/labeler.yml
  rust/repo/examples/default/output/repository/.github/workflows/ci.yaml
  rust/repo/examples/default/output/repository/.github/workflows/copyright.yaml
  rust/repo/examples/different-org/output/repository/.github/workflows/copyright.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/labeler.yml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/copyright.yaml
Labels: github_actions, size/M

#76 add read permissions (needed for private repos)
  rust/repo/examples/default/output/repository/.github/workflows/ci.yaml
  rust/repo/examples/default/output/repository/.github/workflows/pr-assign.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/pr-assign.yaml
Labels: github_actions, size/XS

#77 Pin crev back to 0.23
  rust/repo/examples/default/output/repository/.github/workflows/ci.yaml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
Labels: github_actions, size/XS

#78 Fix typo in settings.yml
  .github/settings.yml
Labels: size/XS

#80 Update the team with push permissions to eng
  .github/settings.yml
Labels: size/XS

#79 Update example generation to work on mac
  .github/workflows/ci.yaml
  generate-examples.sh
Labels: github_actions, size/M

#81 Update nightly default to 2023-01-22
  rust/repo/examples/default/output/repository/.github/settings.yml
  rust/repo/examples/default/output/repository/.github/workflows/ci.yaml
  rust/repo/examples/different-org/output/repository/.github/settings.yml
  rust/repo/{{ cookiecutter.repo_name }}/.github/settings.yml
  rust/repo/{{ cookiecutter.repo_name }}/.github/workflows/ci.yaml
Labels: github_actions, size/S
